@use "./variables" as var;

.form-section {
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 100%;
        max-width: 17em;
        max-height: 20em;

        .form-inputs {
            display: flex;
            flex-direction: column;
            width: 100%;

            .input-div {
                position: relative;

                label {
                    letter-spacing: 0.1em;
                }

                input {
                    width: 100%;
                    outline: none;
                    padding: 0.2em 1em;
                    margin: 0.25em 0 1.25em 0;
                    font-size: 1em;
                    letter-spacing: 0.1em;
                    border: solid rgb(0, 0, 0) 0.09em;
                    border-radius: 0.2em;

                    &:focus {
                        border: solid var.$dark-blue 0.09em;
                        border-radius: 0.2em;
                    }

                    &.error {
                        border-color: var.$red;
                    }
                }

                .error-text {
                    display: block;
                    position: absolute;
                    bottom: -10%;
                    color: var.$red;
                    margin: 0;
                    margin-bottom: 1em;
                    font-size: 0.75em;
                    line-height: 1.2;

                    svg {
                        margin-right: 0.25em;
                        margin-left: 0.25em;
                    }
                }
            }
        }

        button {
            border: solid #fff 0.2em;
            width: 100%;
            text-align: center;
            background-color: var.$light-blue;
            color: #fff;
            letter-spacing: 0.1em;
            font-size: 0.9em;
            padding: 0.7em 1em;
            border-radius: 0.5em;
            margin: 1em auto;
            display: grid;
            place-items: center;
            cursor: pointer;

            &:hover {
                background-color: var.$dark-blue;
            }

            .loader {
                width: 1.2em;
                height: 1.2em;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .navigator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        a {
            cursor: pointer;
            color: inherit;
            text-transform: uppercase;
            margin-left: 0.5em;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 42.5em) {
    .formParent {
        width: 60% !important;

        form {
            .form-inputs {
                label {
                    letter-spacing: 0.15em;
                }

                input {
                    letter-spacing: 0.15em;
                    margin-bottom: 1.35em;
                }
            }
        }
    }
}

@media screen and (min-width: 35em) {
    .formParent {
        width: 65%;

        .navigator {
            flex-direction: row;
        }
    }
}
