$very-dark-blue: #181a1b;
$light-green: #2fc723;
$grayish-white: #d3e0d3;
$light-blue: #3c81bd;
$dark-blue: #0d5ea5;
$red: #ff0000;
$greenish-light-blue: #e4fcf9;
$silver: #cccccc;
$dark-silver: hsla(0, 0%, 75%, 0.8);
